language: node_js

branches:
  only:
    - master
    - develop

install:
  - npm install

node_js:
  - "10.16"
  - "12.13"
  - "14.0"

script:
  - ./scripts/build_peg.sh
  - npm run lint
  - npm run test


jobs:
  include:
    - stage: acceptance
      node_js: "12.13"
      script:
        - npm install -g serverless@2.45.2
        - npm run build
        - ./test/acceptance/run.sh $TRAVIS_BUILD_NUMBER

    - stage: build-and-deploy
      node_js: "12.13"
      script:
        - npm run build && npm run semantic-release && ./scripts/publish_layers.sh

stages:
  - Test
  - name: acceptance
    if: branch = master AND type = pull_request
  - name: build-and-deploy
    if: "false"
