language: node_js

branches:
  only:
    - master

node_js:
  - "6.10"
  - "8.10"

script:
  - npm run lint
  - npm run test


jobs:
  include:
    - stage: build-and-deploy
      node_js: "8.10"
      script:
        - npm run build && npm run semantic-release && ./scripts/publish_layers.sh

stages:
  - Test
  - name: build-and-deploy
    if: branch = master AND type = push

