language: node_js

branches:
  only:
    - master

install:
  - npm install
  - npm install -g serverless
  - pip install aws

node_js:
  - "6.10"
  - "8.10"

script:
  - npm run lint
  - npm run test


jobs:
  include:
    - stage: acceptance
      node_js: "8.10"
      script:
        - npm run build
        - ./test/acceptance/run.sh $TRAVIS_BUILD_NUMBER

    - stage: build-and-deploy
      node_js: "8.10"
      script:
        - npm run build && npm run semantic-release && ./scripts/publish_layers.sh

stages:
  - Test
  - acceptance
  - name: build-and-deploy
    if: branch = master AND type = push
